


.list-item:hover {
    background-color: black;
    cursor: pointer;
}

.textarea {
    height: 63vh;
}

.textarea:focus,
.textarea:active {
    outline: none;
    border: none;
}

.add-button {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.4s;
    transition-timing-function: ease-out;
}

.add-button:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.3);
}

.arrow-button{
    fill: rgb(255, 193, 7);
}

.block-tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #6a6666;
}
.block-tabs .tab {
    margin: 5% 10% 10% 10%;
    transform: scale(4,4);
}
.block-tabs .tab:hover {
    cursor: pointer;
}

.block-tabs .active-tab {
    color: rgb(255, 193, 7)
}